# Model Evaluation Exercises

In [1]:
import pandas as pd

### 2. Given the following confusion matrix, evaluate (by hand) the model's performance.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

- In the context of this problem, what is a false positive?

- In the context of this problem, what is a false negative?

- How would you describe this model?

False Positive = Predicting a dog when it is a cat

False Negative = Predicting a cat when it is a dog

Description: 
Categorizing photos based on features into either a dog or a cat

### 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

- An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

### Internal Team
- pos/neg case

Pos : Defect

Neg : No defect

- outcomes

TP: Shows defect while defected

TN: Shows no defect while not defected

FP: Shows defect while not defected

FN: Shows no defect while defected

- costs

FP: thrown in trash, loss profits

FN: customer replace or they move on

- metric

recall

In [2]:
df = pd.read_csv('c3.csv')

In [3]:
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [4]:
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [5]:
pd.crosstab(df.actual, df.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [6]:
pd.crosstab(df.actual, df.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [7]:
pd.crosstab(df.actual, df.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [8]:
df['baseline_prediction'] = 'Defect'

In [9]:
model1_accuracy = (df.model1 == df.actual).mean()
model2_accuracy = (df.model2 == df.actual).mean()
model3_accuracy = (df.model3 == df.actual).mean()

baseline_accuracy = (df.baseline_prediction == df.actual).mean()
print(f'model 1 accuracy: {model1_accuracy:.2%}')
print(f'model 2 accuracy: {model2_accuracy:.2%}')
print(f'model 3 accuracy: {model3_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model 1 accuracy: 95.00%
model 2 accuracy: 56.00%
model 3 accuracy: 55.50%
baseline accuracy: 8.00%

In [10]:
subset = df[df.actual == 'Defect']

model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()
baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'model 1 recall: {model1_recall:.2%}')
print(f'model 2 recall: {model2_recall:.2%}')
print(f'model 3 recall: {model3_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

model 1 recall: 50.00%
model 2 recall: 56.25%
model 3 recall: 81.25%
baseline recall: 100.00%

In [11]:
subset = df[df.model1 == 'Defect']
model1_precision = (subset.model1 == subset.actual).mean()

subset = df[df.model2 == 'Defect']
model2_precision = (subset.model2 == subset.actual).mean()

subset = df[df.model3 == 'Defect']
model3_precision = (subset.model3 == subset.actual).mean()

subset = df[df.baseline_prediction == 'Defect']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model 1 precision: {model1_precision:.2%}')
print(f'model 2 precision: {model2_precision:.2%}')
print(f'model 3 precision: {model3_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model 1 precision: 80.00%
model 2 precision: 10.00%
model 3 precision: 13.13%
baseline precision: 8.00%

### PR Team

Need to minimize false positives, so precision would be the metric to use
Model 1 has the highest precision score

### 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

- pos/neg case

Pos : Dog

Neg : Cat

- outcomes

TP: Shows dog while dog

TN: Shows cat while cat

FP: Shows dog while cat

FN: Shows cat while dog

- costs

FP: dog users sad

FN: cat users sad

- metric

accuracy
: (TP + TN) / (TP + TN + FP + FN)

In [12]:
df = pd.read_csv('gives_you_paws.csv')

In [13]:
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [14]:
pd.crosstab(df.actual, df.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [15]:
pd.crosstab(df.actual, df.model2)

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [16]:
pd.crosstab(df.actual, df.model3)

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [17]:
pd.crosstab(df.actual, df.model4)

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [24]:
df['baseline_prediction'] = 'dog'

In [25]:
pd.crosstab(df.actual, df.baseline_prediction)

baseline_prediction   dog
actual
cat                  1746
dog                  3254

In [26]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [27]:
df.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

### a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [28]:
model1_accuracy = (df.actual == df.model1).mean()
model2_accuracy = (df.actual == df.model2).mean()
model3_accuracy = (df.actual == df.model3).mean()
model4_accuracy = (df.actual == df.model4).mean()
baseline_accuracy = (df.actual == df.baseline_prediction).mean()

print(f'model 1 accuracy: {model1_accuracy:.2%}')
print(f'model 2 accuracy: {model2_accuracy:.2%}')
print(f'model 3 accuracy: {model3_accuracy:.2%}')
print(f'model 4 accuracy: {model4_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model 1 accuracy: 80.74%
model 2 accuracy: 63.04%
model 3 accuracy: 50.96%
model 4 accuracy: 74.26%
baseline accuracy: 65.08%

###     b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend for Phase I? For Phase II?

Phase 1: Minimize False Negatives to maximize true positives of dogs

Metric : Recall

In [30]:
subset = df[df.actual == 'dog']

model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()
model4_recall = (subset.model4 == subset.actual).mean()

baseline_recall = (subset.baseline_prediction == subset.actual).mean()

print(f'model 1 recall: {model1_recall:.2%}')
print(f'model 2 recall: {model2_recall:.2%}')
print(f'model 3 recall: {model3_recall:.2%}')
print(f'model 4 recall: {model4_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

model 1 recall: 80.33%
model 2 recall: 49.08%
model 3 recall: 50.86%
model 4 recall: 95.57%
baseline recall: 100.00%

Model 4 would be best solely for finding Dogs in Phase 1

Phase 2 : Minimize pictures for human review

Metric : Accuracy

Model 1 would be best for reviewing pictures from phase 1

### c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend for Phase I? For Phase II?

Phase 1 : Minimize False Positives to maximize True Negatives (cats)

Metric : Precision

In [32]:
subset = df[df.model1 == 'dog']
model1_precision = (subset.model1 == subset.actual).mean()

subset = df[df.model2 == 'dog']
model2_precision = (subset.model2 == subset.actual).mean()

subset = df[df.model3 == 'dog']
model3_precision = (subset.model3 == subset.actual).mean()

subset = df[df.baseline_prediction == 'dog']
baseline_precision = (subset.baseline_prediction == subset.actual).mean()

print(f'model 1 precision: {model1_precision:.2%}')
print(f'model 2 precision: {model2_precision:.2%}')
print(f'model 3 precision: {model3_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model 1 precision: 89.00%
model 2 precision: 89.32%
model 3 precision: 65.99%
baseline precision: 65.08%

Model 2 would be best solely for identifying Cats in Phase 1

Phase 2 : Minimize pictures for human review

Metric : Accuracy

Model 1 would be best for reviewing pictures from Phase 1

###     5. Read the documentation about each function, then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score

sklearn.metrics.precision_score

sklearn.metrics.recall_score

sklearn.metrics.classification_report

In [33]:
import sklearn.metrics

In [56]:
for col in df.columns:
    print(f'{col} : \n {sklearn.metrics.classification_report(df.actual, df[col])}')

actual :
               precision    recall  f1-score   support

         cat       1.00      1.00      1.00      1746
         dog       1.00      1.00      1.00      3254

    accuracy                           1.00      5000
   macro avg       1.00      1.00      1.00      5000
weighted avg       1.00      1.00      1.00      5000

model1 :
               precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

model2 :
               precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

model3 :
               precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

model4 :
               precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000

baseline_prediction :
               precision    recall  f1-score   support

         cat       0.00      0.00      0.00      1746
         dog       0.65      1.00      0.79      3254

    accuracy                           0.65      5000
   macro avg       0.33      0.50      0.39      5000
weighted avg       0.42      0.65      0.51      5000

/opt/homebrew/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [61]:
for col in df.columns:
    print(f'{col} accuracy: {sklearn.metrics.accuracy_score(df.actual, df[col]):.2%}')

actual accuracy: 100.00%
model1 accuracy: 80.74%
model2 accuracy: 63.04%
model3 accuracy: 50.96%
model4 accuracy: 74.26%
baseline_prediction accuracy: 65.08%

In [76]:
for col in df.columns:
    print(f'{col} recall: {sklearn.metrics.recall_score(df.actual, df[col], pos_label="dog"):.2%}')

actual recall: 100.00%
model1 recall: 80.33%
model2 recall: 49.08%
model3 recall: 50.86%
model4 recall: 95.57%
baseline_prediction recall: 100.00%

In [77]:
for col in df.columns:
    print(f'{col} precision: {sklearn.metrics.precision_score(df.actual, df[col], pos_label="dog"):.2%}')

actual precision: 100.00%
model1 precision: 89.00%
model2 precision: 89.32%
model3 precision: 65.99%
model4 precision: 73.12%
baseline_prediction precision: 65.08%